*
{
    font-family: 'Philosopher', sans-serif;
}
body
{
    background-image: url(background.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    margin: 0;
    padding: 0;
}
h1
{
    font-size: 3.2rem;;
    text-align: center;
    color: orangered;
    margin-top:300px;
}
#tete
{
    text-align: center;
    margin-top: 400px;
}
a
{
    text-decoration: none;
    color: orangered;
}
a:hover
{
    color: palegreen;
}
p
{
    color: orangered;
    font-size:2rem;
}
.case
{
    background-color: transparent;
    width: 40%;
    border: none;
}
.ligne
{
    width: 20%;
    background-color: transparent;
    border: none;
}
.vide
{
    background-color: transparent;
    border: none;
    width: 40%;   
}
table
{
    border-collapse: collapse;
    background-color: transparent;
    text-align: center;
    margin: 0 auto;
}
.case, .vide, .ligne
{
 height: 200px;
}
h2
{
    color: orangered;
    text-decoration: underline;
    font-size: 2.5rem;
}
p, h2
{
    margin:0;
    padding:0;
}
header
{
    margin-bottom: 30px;
    margin-top: 100px;
}
#tete p
{
    font-size: 2rem;
}
#tableau
{
    margin-top: 300px;
}
@media all and (max-width :768px)
{
    *
{
    font-family: 'Philosopher', sans-serif;
}
body
{
    background-image: url(background.jpeg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    margin: 0;
    padding: 0;
}
h1
{
    font-size: 3.2rem;;
    text-align: center;
    color: orangered;
    margin-top:200px;
    margin-left:5%;
}
#tete
{
    text-align: center;
    margin-top: 200px;
    margin-left: 5%;
}
a
{
    text-decoration: none;
    color: orangered;
}
a:hover
{
    color: palegreen;
}
p
{
    color: orangered;
    font-size:1.8rem;
}
.case
{
    background-color: transparent;
    width: 30%;
    border: none;
}
.ligne
{
    width: 5%;
    background-color: transparent;
    border: none;
}
.vide
{
    background-color: transparent;
    border: none;
    width: 30%;
    
}

table
{
    border-collapse: collapse;
    background-color: transparent;
    text-align: center;
    margin: 0 auto;
}
.case, .vide, .ligne
{
 height: 200px;
}
h2
{
    color: orangered;
    text-decoration: underline;
    font-size: 2.2rem;
}
p, h2
{
    margin:0;
    padding:0;
}
header
{
    margin-bottom: 30px;
    margin-top: 10px;
}
#tete p
{
    font-size: 2rem;
}
#tableau
{
    margin-top: 200px;
}
table{
    margin-left: 10px;
    margin-right:10px;
}
}
@media all and (max-width :1024px)
{
    *
{
    font-family: 'Philosopher', sans-serif;
}
body
{
    background-image: url(background.jpeg);
    background-size: 600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    margin: 0;
    padding: 0;
}
h1
{
    font-size: 2.5rem;;
    text-align: center;
    color: orangered;
    margin-top:50px;
}
#tete
{
    text-align: center;
    margin-top: 300px;
}
a
{
    text-decoration: none;
    color: orangered;
}
a:hover
{
    color: palegreen;
}
p
{
    color: orangered;
    font-size:2rem;
}
.case
{
    background-color: transparent;
    width: 40%;
    border: none;
}
.ligne
{
    width: 20%;
    background-color: transparent;
    border: none;
}
.vide
{
    background-color: transparent;
    border: none;
    width: 40%;
    
}

table
{
    border-collapse: collapse;
    background-color: transparent;
    text-align: center;
    margin: 0 auto;
}
.case, .vide, .ligne
{
 height: 200px;
}
h2
{
    color: orangered;
    text-decoration: underline;
    font-size: 2.5rem;
}
p, h2
{
    margin:0;
    padding:0;
}
header
{
    margin-bottom: 30px;
    margin-top: 10px;
}
#tete p
{
    font-size: 2rem;
}
#tableau
{
    margin-top: 200px;
}
table{
    margin-left: 10px;
    margin-right:10px;
}
}